.waterfall {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  &-column {
    @include flex(
      $x: stretch,
      $y: stretch,
      $dir: column,
      $wrap: nowrap,
      $yGap: 10px
    );
    &-cell {
      cursor: pointer;
    }
  }
}
