@font-face {
  font-family: 'agendaKing';
  src: url('~@/asset/font/agendaKing/agendaKing.woff') format('woff'),
    url('~@/asset/font/agendaKing/agendaKing.woff2') format('woff2');
  font-display: fallback;
}
