.login {
  background-image: var(--front-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  @include flex();
  &::before {
    content: '';
    position: absolute;
    filter: blur(4px);
    height: 100%;
    width: 100%;
    z-index: 1;
    background: inherit;
  }
  &-panel {
    position: relative;
    z-index: 2;
    width: 80%;
    min-width: 650px;
    max-width: 850px;
    aspect-ratio: 2/1;
    border-radius: 4px;
    overflow: hidden;
    @include flex();
    box-shadow: 0 0 10px var(--front-color);
    &-bk {
      background-image: var(--front-background-image-clip);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
    }
    &-main {
      height: 100%;
      aspect-ratio: 1/1;
      background-color: #ffffff;
      margin-left: auto;
      @include flex();
    }
  }
}

.form {
  width: 80%;
  color: var(--front-color);
  &-header {
    font-family: 'agendaKing';
    font-weight: bold;
    font-size: 1.5rem;
  }
  &-body {
    &-input {
      :global(.h-12) {
        height: 2.5rem;
      }
      margin-top: 1rem;
      input {
        color: var(--front-color) !important;
        &::placeholder {
          color: var(--front-color);
        }
      }
    }
  }
  &-tip {
    @include flex($x: space-between);
    margin: 0.5rem 0;
    font-size: 0.875rem;
    &-forget {
      cursor: pointer;
    }
  }
  &-footer {
    @include flex($dir: column, $x: stretch, $y: stretch, $yGap: 0.5rem);
    button {
      width: 100%;
    }
    &-login {
      background-color: var(--front-color);
    }
    &-register {
      border-color: var(--front-color);
      color: var(--front-color);
    }
  }
}
